USE [GPSTEL]
GO
/****** Object:  StoredProcedure [dbo].[usp_Gps_Chip_ActualizarChip]    Script Date: 27/08/2019 1:59:54 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[usp_Gps_Chip_ActualizarChip] 
	@idchip INT,
	@operador VARCHAR(50),
	@tipo_contrato VARCHAR(20),
	@numero CHAR (18),
	@fechacontrato DATE,
	@tarifa FLOAT
AS
BEGIN
	UPDATE CHIP
	SET
		operador = @operador,
		tipo_contrato = @tipo_contrato,
		numero = @numero,	
		
		fechacontrato = @fechacontrato,
		fechamodificacion = GETDATE(),
		tarifa = @tarifa
	WHERE idchip = @idchip
END

GO
/****** Object:  StoredProcedure [dbo].[usp_Gps_Chip_BusarPorNumero]    Script Date: 27/08/2019 1:59:54 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[usp_Gps_Chip_BusarPorNumero] 
	@numeroChip CHAR(18)
AS
BEGIN
	SELECT c.idchip,
		c.operador,
		c.tipo_contrato,
		c.numero,
		c.estado,
		c.eliminado,
		c.fecha,
		c.fechacontrato,
		c.fechamodificacion,
		c.tarifa
	  FROM CHIP AS c
	WHERE c.numero = @numeroChip AND c.eliminado = 0
END

GO
/****** Object:  StoredProcedure [dbo].[usp_Gps_Chip_CantidadDineroPorOperador]    Script Date: 27/08/2019 1:59:54 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[usp_Gps_Chip_CantidadDineroPorOperador]
	
AS
BEGIN
	
	SELECT c.operador as 'name', SUM(c.tarifa)AS 'y', c.operador as 'drilldown' FROM CHIP AS c GROUP BY c.operador

END

GO
/****** Object:  StoredProcedure [dbo].[usp_Gps_Chip_CantidadPorOperador]    Script Date: 27/08/2019 1:59:54 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[usp_Gps_Chip_CantidadPorOperador] 

AS
BEGIN
  SELECT
	c.operador,
	  count(c.operador)cantidad
	  

  FROM
	  CHIP AS c
	
  WHERE c.eliminado = 0
  GROUP BY c.operador
END


GO
/****** Object:  StoredProcedure [dbo].[usp_Gps_Chip_Insertar]    Script Date: 27/08/2019 1:59:54 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[usp_Gps_Chip_Insertar]
	@operador VARCHAR(50),
	@tipo_contrato VARCHAR(20),
	@numero CHAR (18),
	@fechacontrato DATE,
	@tarifa FLOAT
AS
BEGIN
	INSERT INTO CHIP
	(
		
		operador,
		tipo_contrato,
		numero,		
		eliminado,	
		fecha,	
		fechacontrato,
		tarifa,
		estado
	)
	VALUES
	(
		@operador,
		@tipo_contrato,
		@numero,
		0,
		GETDATE(),
		@fechacontrato,
		@tarifa,
		0
	)
END

GO
/****** Object:  StoredProcedure [dbo].[usp_Gps_Chip_ListarChips]    Script Date: 27/08/2019 1:59:54 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[usp_Gps_Chip_ListarChips]
	
AS
BEGIN
	SELECT
	c.idchip,
	c.operador,
	c.tipo_contrato,
	c.numero,
	c.estado,

	c.fecha,
	convert(varchar, c.fechacontrato, 23) as fechacontrato,
	DATEDIFF(mm, C.fechacontrato, GETDATE()) AS difereciafechacontratohoy,
	c.tarifa,
	
	CASE WHEN g.idchip IS NULL THEN '000' ELSE CONCAT('GPS -> ',g.modelo,'-> IMEI -> ',g.imei,'-> Vehículo -> ',v.placa) END AS traza 
	
FROM
	CHIP AS c 
	LEFT JOIN 	GPS AS g    ON g.idchip = c.idchip
	LEFT JOIN Vehiculo AS v ON v.idgps = g.idgps
where 
	c.eliminado = 0 
END


GO
/****** Object:  Table [dbo].[CHIP]    Script Date: 27/08/2019 1:59:54 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[CHIP](
	[idchip] [int] IDENTITY(1,1) NOT NULL,
	[operador] [varchar](50) NULL,
	[tipo_contrato] [varchar](20) NULL,
	[numero] [char](18) NULL,
	[estado] [int] NULL,
	[eliminado] [int] NULL,
	[fecha] [datetime] NULL,
	[fechacontrato] [date] NULL,
	[fechamodificacion] [datetime] NULL,
	[tarifa] [float] NULL,
 CONSTRAINT [XPKCHIP] PRIMARY KEY CLUSTERED 
(
	[idchip] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Cliente]    Script Date: 27/08/2019 1:59:54 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Cliente](
	[idcliente] [int] IDENTITY(1,1) NOT NULL,
	[fecha_contrato] [datetime] NULL,
	[estado] [char](1) NULL,
	[nombre] [varchar](100) NULL,
	[apellido] [varchar](100) NULL,
	[dni_ruc] [varchar](11) NULL,
	[telefono] [varchar](9) NULL,
	[celular] [varchar](9) NULL,
	[correo] [varchar](50) NULL,
	[direccion] [varchar](250) NULL,
	[iddistrito] [int] NULL,
 CONSTRAINT [XPKCliente] PRIMARY KEY CLUSTERED 
(
	[idcliente] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Departamento]    Script Date: 27/08/2019 1:59:54 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Departamento](
	[iddepartamento] [int] NOT NULL,
	[nombre] [varchar](50) NULL,
 CONSTRAINT [XPKDepartamento] PRIMARY KEY CLUSTERED 
(
	[iddepartamento] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Distrito]    Script Date: 27/08/2019 1:59:54 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Distrito](
	[iddistrito] [int] NOT NULL,
	[nombre] [varchar](50) NULL,
	[idprovincia] [int] NULL,
 CONSTRAINT [XPKDistrito] PRIMARY KEY CLUSTERED 
(
	[iddistrito] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[GPS]    Script Date: 27/08/2019 1:59:54 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[GPS](
	[idgps] [int] IDENTITY(1,1) NOT NULL,
	[modelo] [varchar](50) NULL,
	[estado_uso] [varchar](20) NULL,
	[garantia] [varchar](20) NULL,
	[idchip] [int] NOT NULL,
	[fecha_compra] [datetime] NULL,
	[imei] [varchar](50) NULL,
	[eliminado] [int] NULL,
	[fecharegistro] [date] NULL,
	[fechamodificacion] [date] NULL,
 CONSTRAINT [XPKGPS] PRIMARY KEY CLUSTERED 
(
	[idgps] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[ObservacionCliente]    Script Date: 27/08/2019 1:59:54 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[ObservacionCliente](
	[idobservacion] [int] IDENTITY(1,1) NOT NULL,
	[observacion] [varchar](100) NULL,
	[estado] [char](1) NULL,
	[idcliente] [int] NULL,
 CONSTRAINT [XPKObservacionCliente] PRIMARY KEY CLUSTERED 
(
	[idobservacion] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[ObservacionPago]    Script Date: 27/08/2019 1:59:54 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[ObservacionPago](
	[idobservacio] [int] IDENTITY(1,1) NOT NULL,
	[observacion] [varchar](100) NULL,
	[estado] [char](1) NULL,
	[idpago] [int] NULL,
 CONSTRAINT [XPKObservacionPago] PRIMARY KEY CLUSTERED 
(
	[idobservacio] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[ObservacionVehiculo]    Script Date: 27/08/2019 1:59:54 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[ObservacionVehiculo](
	[idobservacion] [int] IDENTITY(1,1) NOT NULL,
	[observacion] [varchar](100) NULL,
	[estado] [char](1) NULL,
	[idvehiculo] [int] NULL,
 CONSTRAINT [XPKObservacionVehiculo] PRIMARY KEY CLUSTERED 
(
	[idobservacion] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Pago]    Script Date: 27/08/2019 1:59:54 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Pago](
	[idpago] [int] IDENTITY(1,1) NOT NULL,
	[concepto] [varchar](50) NULL,
	[fecha_pago] [datetime] NULL,
	[idvehiculo] [int] NULL,
	[monto] [decimal](10, 2) NULL,
	[estado] [char](1) NULL,
 CONSTRAINT [XPKPago] PRIMARY KEY CLUSTERED 
(
	[idpago] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Provincia]    Script Date: 27/08/2019 1:59:54 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Provincia](
	[idprovincia] [int] NOT NULL,
	[nombre] [varchar](50) NULL,
	[iddepartamento] [int] NULL,
 CONSTRAINT [XPKProvincia] PRIMARY KEY CLUSTERED 
(
	[idprovincia] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Usuario]    Script Date: 27/08/2019 1:59:54 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Usuario](
	[idusuario] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [varchar](50) NULL,
	[password] [varchar](100) NULL,
	[estado] [char](1) NULL,
	[tipo] [char](18) NULL,
 CONSTRAINT [XPKusuario] PRIMARY KEY CLUSTERED 
(
	[idusuario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Vehiculo]    Script Date: 27/08/2019 1:59:54 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Vehiculo](
	[idvehiculo] [int] IDENTITY(1,1) NOT NULL,
	[placa] [varchar](7) NULL,
	[marca] [varchar](20) NULL,
	[modelo] [varchar](20) NULL,
	[anio_vehiculo] [varchar](4) NULL,
	[color] [varchar](20) NULL,
	[nro_motor] [varchar](20) NULL,
	[particular_mtc] [varchar](10) NULL,
	[estado] [char](1) NULL,
	[idgps] [int] NULL,
	[fecha_instalacion] [datetime] NULL,
	[idcliente] [int] NULL,
	[mensualidad] [decimal](10, 2) NULL,
	[eliminado] [int] NULL,
 CONSTRAINT [XPKVehiculo] PRIMARY KEY CLUSTERED 
(
	[idvehiculo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[CHIP] ON 

INSERT [dbo].[CHIP] ([idchip], [operador], [tipo_contrato], [numero], [estado], [eliminado], [fecha], [fechacontrato], [fechamodificacion], [tarifa]) VALUES (39, N'entel', N'prepago', N'960483987         ', 1, 0, CAST(0x0000AAAC00EB1B13 AS DateTime), CAST(0xCA3F0B00 AS Date), NULL, 30.9)
INSERT [dbo].[CHIP] ([idchip], [operador], [tipo_contrato], [numero], [estado], [eliminado], [fecha], [fechacontrato], [fechamodificacion], [tarifa]) VALUES (40, N'movistar', N'prepago', N'937650240         ', 1, 0, CAST(0x0000AAAC00EB1B13 AS DateTime), CAST(0xE83F0B00 AS Date), NULL, 30.9)
INSERT [dbo].[CHIP] ([idchip], [operador], [tipo_contrato], [numero], [estado], [eliminado], [fecha], [fechacontrato], [fechamodificacion], [tarifa]) VALUES (1039, N'movistar', N'prepago', N'981901549         ', 1, 0, CAST(0x0000AAAC00EB1B13 AS DateTime), CAST(0x333F0B00 AS Date), NULL, 30.9)
GO
SET IDENTITY_INSERT [dbo].[CHIP] OFF
SET IDENTITY_INSERT [dbo].[Cliente] ON 

INSERT [dbo].[Cliente] ([idcliente], [fecha_contrato], [estado], [nombre], [apellido], [dni_ruc], [telefono], [celular], [correo], [direccion], [iddistrito]) VALUES (1019, CAST(0x0000A9C800000000 AS DateTime), N'A', N'NAZARENO', NULL, N'20532662401', N'943412934', N'943412934', N'gpstelsrl@gmail.com', N'aso.sector agrario mza 70lte10 p.j leguia tacna', 1779)
INSERT [dbo].[Cliente] ([idcliente], [fecha_contrato], [estado], [nombre], [apellido], [dni_ruc], [telefono], [celular], [correo], [direccion], [iddistrito]) VALUES (1020, CAST(0x0000A9C800000000 AS DateTime), N'A', N' IMELCONS E.I.R.L.', NULL, N'20532971706', N'952632471', N'952632471', N'administración@imelcons.com  gerencia@imelcons.com', N'AV. A. A. CACERES NRO. S/N P.J. MCAL. NIETO (LUBRICENTRO ALEX) MOQUEGUA - MARISCAL NIETO - MOQUEGUA', 1482)
INSERT [dbo].[Cliente] ([idcliente], [fecha_contrato], [estado], [nombre], [apellido], [dni_ruc], [telefono], [celular], [correo], [direccion], [iddistrito]) VALUES (2019, CAST(0x0000A9C900000000 AS DateTime), N'A', N'PINEDA MAMANI RUFINA EUGENIA', NULL, N'10004798851', N'981792124', N'981792124', N'oswaldomolle1981@gmail.com', N'COMERCIAL GRAU INT.327 PTO 327', 1779)
SET IDENTITY_INSERT [dbo].[Cliente] OFF
INSERT [dbo].[Departamento] ([iddepartamento], [nombre]) VALUES (1, N'AMAZONAS')
INSERT [dbo].[Departamento] ([iddepartamento], [nombre]) VALUES (2, N'ANCASH')
INSERT [dbo].[Departamento] ([iddepartamento], [nombre]) VALUES (3, N'APURIMAC')
INSERT [dbo].[Distrito] ([iddistrito], [nombre], [idprovincia]) VALUES (1, N'CHACHAPOYAS', 1)
INSERT [dbo].[Distrito] ([iddistrito], [nombre], [idprovincia]) VALUES (2, N'ASUNCION', 1)
INSERT [dbo].[Distrito] ([iddistrito], [nombre], [idprovincia]) VALUES (3, N'BALSAS', 1)
GO
SET IDENTITY_INSERT [dbo].[GPS] ON 

INSERT [dbo].[GPS] ([idgps], [modelo], [estado_uso], [garantia], [idchip], [fecha_compra], [imei], [eliminado], [fecharegistro], [fechamodificacion]) VALUES (1020, N'tk', N'usado', N'0', 39, CAST(0x0000A9F200000000 AS DateTime), N'45223220511', 0, NULL, NULL)
INSERT [dbo].[GPS] ([idgps], [modelo], [estado_uso], [garantia], [idchip], [fecha_compra], [imei], [eliminado], [fecharegistro], [fechamodificacion]) VALUES (1021, N'TK-103', N'nuevo', N'0', 40, CAST(0x0000A95500000000 AS DateTime), N'45222220071', 0, NULL, NULL)
INSERT [dbo].[GPS] ([idgps], [modelo], [estado_uso], [garantia], [idchip], [fecha_compra], [imei], [eliminado], [fecharegistro], [fechamodificacion]) VALUES (1022, N'TK-130', N'usado', N'0', 1039, CAST(0x0000A92300000000 AS DateTime), N'40215421049', 0, NULL, NULL)
GO
SET IDENTITY_INSERT [dbo].[GPS] OFF
SET IDENTITY_INSERT [dbo].[ObservacionCliente] ON 

INSERT [dbo].[ObservacionCliente] ([idobservacion], [observacion], [estado], [idcliente]) VALUES (1, NULL, N'1', 1019)
INSERT [dbo].[ObservacionCliente] ([idobservacion], [observacion], [estado], [idcliente]) VALUES (2, NULL, N'0', 1019)
INSERT [dbo].[ObservacionCliente] ([idobservacion], [observacion], [estado], [idcliente]) VALUES (3, NULL, N'1', 1019)
SET IDENTITY_INSERT [dbo].[ObservacionCliente] OFF
SET IDENTITY_INSERT [dbo].[ObservacionPago] ON 

INSERT [dbo].[ObservacionPago] ([idobservacio], [observacion], [estado], [idpago]) VALUES (1002, N'SALDO PENDIENTE', N'1', 2016)
INSERT [dbo].[ObservacionPago] ([idobservacio], [observacion], [estado], [idpago]) VALUES (2002, NULL, N'1', 3017)
INSERT [dbo].[ObservacionPago] ([idobservacio], [observacion], [estado], [idpago]) VALUES (2003, NULL, N'0', 3017)
GO
SET IDENTITY_INSERT [dbo].[ObservacionPago] OFF
SET IDENTITY_INSERT [dbo].[ObservacionVehiculo] ON 

INSERT [dbo].[ObservacionVehiculo] ([idobservacion], [observacion], [estado], [idvehiculo]) VALUES (1, N'DE BAJA 21/05/2019', N'0', 2083)
INSERT [dbo].[ObservacionVehiculo] ([idobservacion], [observacion], [estado], [idvehiculo]) VALUES (2, N'SUSPENDIDO 12/06/2019', N'0', 2084)
SET IDENTITY_INSERT [dbo].[ObservacionVehiculo] OFF
SET IDENTITY_INSERT [dbo].[Pago] ON 

INSERT [dbo].[Pago] ([idpago], [concepto], [fecha_pago], [idvehiculo], [monto], [estado]) VALUES (2016, N'M-MAR-03/04/19', CAST(0x0000AA6800A0310A AS DateTime), 1010, CAST(30.00 AS Decimal(10, 2)), N'A')
INSERT [dbo].[Pago] ([idpago], [concepto], [fecha_pago], [idvehiculo], [monto], [estado]) VALUES (3016, N'M-ENERO/11/02/19', CAST(0x0000AA4C00B95649 AS DateTime), 2080, CAST(40.00 AS Decimal(10, 2)), N'A')
INSERT [dbo].[Pago] ([idpago], [concepto], [fecha_pago], [idvehiculo], [monto], [estado]) VALUES (3017, N'M-ABRIL-04/05/19', CAST(0x0000AA6800A0183E AS DateTime), 1010, CAST(30.00 AS Decimal(10, 2)), N'A')
GO
SET IDENTITY_INSERT [dbo].[Pago] OFF
INSERT [dbo].[Provincia] ([idprovincia], [nombre], [iddepartamento]) VALUES (1, N'CHACHAPOYAS ', 1)
INSERT [dbo].[Provincia] ([idprovincia], [nombre], [iddepartamento]) VALUES (2, N'BAGUA', 1)
INSERT [dbo].[Provincia] ([idprovincia], [nombre], [iddepartamento]) VALUES (3, N'BONGARA', 1)
GO
SET IDENTITY_INSERT [dbo].[Usuario] ON 

INSERT [dbo].[Usuario] ([idusuario], [nombre], [password], [estado], [tipo]) VALUES (1, N'gpstel', N'e10adc3949ba59abbe56e057f20f883e', N'A', N'admin             ')
SET IDENTITY_INSERT [dbo].[Usuario] OFF
SET IDENTITY_INSERT [dbo].[Vehiculo] ON 

INSERT [dbo].[Vehiculo] ([idvehiculo], [placa], [marca], [modelo], [anio_vehiculo], [color], [nro_motor], [particular_mtc], [estado], [idgps], [fecha_instalacion], [idcliente], [mensualidad], [eliminado]) VALUES (1010, N'VEI-956', N'HYUNDAI', N'H1', N'2011', N'BLANCO', N'1GDG073152', N'mtc', NULL, 1020, CAST(0x0000A9C800000000 AS DateTime), 1019, CAST(30.00 AS Decimal(10, 2)), 0)
INSERT [dbo].[Vehiculo] ([idvehiculo], [placa], [marca], [modelo], [anio_vehiculo], [color], [nro_motor], [particular_mtc], [estado], [idgps], [fecha_instalacion], [idcliente], [mensualidad], [eliminado]) VALUES (1011, N'VCZ-959', N'HYUDAI', N'H1', N'2011', N'NEGRO', N'DF22G200', N'mtc', NULL, 1021, CAST(0x0000A95500000000 AS DateTime), 1019, CAST(30.00 AS Decimal(10, 2)), 0)
INSERT [dbo].[Vehiculo] ([idvehiculo], [placa], [marca], [modelo], [anio_vehiculo], [color], [nro_motor], [particular_mtc], [estado], [idgps], [fecha_instalacion], [idcliente], [mensualidad], [eliminado]) VALUES (1012, N'Z4L-643', N'HYUDAI', N'H1', N'2010', N'VERDE', N'ES451542S', N'mtc', NULL, 1022, CAST(0x0000A92600000000 AS DateTime), 1019, CAST(30.00 AS Decimal(10, 2)), 0)
GO
SET IDENTITY_INSERT [dbo].[Vehiculo] OFF
ALTER TABLE [dbo].[Cliente]  WITH CHECK ADD  CONSTRAINT [R_25] FOREIGN KEY([iddistrito])
REFERENCES [dbo].[Distrito] ([iddistrito])
GO
ALTER TABLE [dbo].[Cliente] CHECK CONSTRAINT [R_25]
GO
ALTER TABLE [dbo].[Distrito]  WITH CHECK ADD  CONSTRAINT [R_6] FOREIGN KEY([idprovincia])
REFERENCES [dbo].[Provincia] ([idprovincia])
GO
ALTER TABLE [dbo].[Distrito] CHECK CONSTRAINT [R_6]
GO
ALTER TABLE [dbo].[GPS]  WITH CHECK ADD  CONSTRAINT [R_9] FOREIGN KEY([idchip])
REFERENCES [dbo].[CHIP] ([idchip])
GO
ALTER TABLE [dbo].[GPS] CHECK CONSTRAINT [R_9]
GO
ALTER TABLE [dbo].[ObservacionCliente]  WITH CHECK ADD  CONSTRAINT [R_1] FOREIGN KEY([idcliente])
REFERENCES [dbo].[Cliente] ([idcliente])
GO
ALTER TABLE [dbo].[ObservacionCliente] CHECK CONSTRAINT [R_1]
GO
ALTER TABLE [dbo].[ObservacionPago]  WITH CHECK ADD  CONSTRAINT [R_21] FOREIGN KEY([idpago])
REFERENCES [dbo].[Pago] ([idpago])
GO
ALTER TABLE [dbo].[ObservacionPago] CHECK CONSTRAINT [R_21]
GO
ALTER TABLE [dbo].[ObservacionVehiculo]  WITH CHECK ADD  CONSTRAINT [R_20] FOREIGN KEY([idvehiculo])
REFERENCES [dbo].[Vehiculo] ([idvehiculo])
GO
ALTER TABLE [dbo].[ObservacionVehiculo] CHECK CONSTRAINT [R_20]
GO
ALTER TABLE [dbo].[Pago]  WITH CHECK ADD  CONSTRAINT [R_12] FOREIGN KEY([idvehiculo])
REFERENCES [dbo].[Vehiculo] ([idvehiculo])
GO
ALTER TABLE [dbo].[Pago] CHECK CONSTRAINT [R_12]
GO
ALTER TABLE [dbo].[Provincia]  WITH CHECK ADD  CONSTRAINT [R_5] FOREIGN KEY([iddepartamento])
REFERENCES [dbo].[Departamento] ([iddepartamento])
GO
ALTER TABLE [dbo].[Provincia] CHECK CONSTRAINT [R_5]
GO
ALTER TABLE [dbo].[Vehiculo]  WITH CHECK ADD  CONSTRAINT [R_10] FOREIGN KEY([idgps])
REFERENCES [dbo].[GPS] ([idgps])
GO
ALTER TABLE [dbo].[Vehiculo] CHECK CONSTRAINT [R_10]
GO
ALTER TABLE [dbo].[Vehiculo]  WITH CHECK ADD  CONSTRAINT [R_16] FOREIGN KEY([idcliente])
REFERENCES [dbo].[Cliente] ([idcliente])
GO
ALTER TABLE [dbo].[Vehiculo] CHECK CONSTRAINT [R_16]
GO
